@model IEnumerable<UserandLogin.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1516574187841-cb9cc2ca948b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    }
</style>
<h5 style="color: black;">Caring for Your Health, One Prescription at a Time!</h5>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div style="margin-top: 10px; margin-bottom: 10px; color: #640000;">@ViewBag.SuccessMessage</div>
}
<p>
    @Html.ActionLink("Registration", "Register", null, new { style = "color: darkgray;" })

    @Html.ActionLink("Login user", "Login", null, new { style = "color: darkgray;" })
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.User_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.User_Id })
                </td>
            </tr>
        }

    </table>*@
